<div id="page-menu">
  <div class="container">
    <div class="grid">
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="massages"> Les Différents Massages </button>
        <% end %>
      </div>
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="huiles"> Les Huiles <br> & <br> Leurs Bienfaits </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="tarifs"> Tarifs </button>
        <% end %>
      </div>
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="offres"> Offres <br> & <br> Cadeaux </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="masseuse"> Qui Suis-Je ? </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="precautions"> Précautions & Contre-Indications Massage </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="ensemble"> Ensemble Contre La Covid </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
