<div class="page-one">
  <div id="menu">
    <i class="fa-solid fa-bars effect" id="button"></i>
  </div>
  <div id="contain" class="elements">
    <div class="triangle left elements">
      <p class="intro elements"> Laissez-vous transporter dans un voyage loin du tumulte, du brouhaha de la vie, et laissez derrière vous les tensions et le stress du quotidien. Venez découvrir votre oasis de paix et retrouver votre bien-être.
      <br>
      <br>
      Massothérapeute, je me déplace à votre domicile pour vous offrir mon professionnalisme au service de votre détente, de votre relaxation et surtout du soin dont vous avez besoin.
      Par un moment de lâchez prise, juste pour vous, un cadeau pour prendre soin de vous et pour vous faire plaisir.  Inutile de prendre votre voiture, votre bien-être vient directement à vous, sans subir de tensions, de stress des embouteillages ni le bruit des transports.
      Avant, pendant, après vous allez privilégier un moment pour profiter au maximum de cet instant de calme, de détente et de repos. Restez chez soi est l’expression du luxe ultime, le faste d’un soin professionnel à domicile.

    </div>
    <div class="triangle right elements">
      <p class="intro elements"> Laissez-vous transporter dans un voyage loin du tumulte, du brouhaha de la vie, et laissez derrière vous les tensions et le stress du quotidien. Venez découvrir votre oasis de paix et retrouver votre bien-être.
      <br>
      <br>
      Massothérapeute, je me déplace à votre domicile pour vous offrir mon professionnalisme au service de votre détente, de votre relaxation et surtout du soin dont vous avez besoin.
      Par un moment de lâchez prise, juste pour vous, un cadeau pour prendre soin de vous et pour vous faire plaisir.  Inutile de prendre votre voiture, votre bien-être vient directement à vous, sans subir de tensions, de stress des embouteillages ni le bruit des transports.
      Avant, pendant, après vous allez privilégier un moment pour profiter au maximum de cet instant de calme, de détente et de repos. Restez chez soi est l’expression du luxe ultime, le faste d’un soin professionnel à domicile.

    </div>
  </div>
</div>
<div id="voyages-des-sens" class="play" >
  <div class="container">
    <div class="grid">
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="massages"> Les Différents Massages </button>
        <% end %>
      </div>
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="huiles"> Les Huiles <br> & <br> Leurs Bienfaits </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12 g-col-md-6">
        <%= link_to tarifs_path, class: 'link' do %>
          <button class="tarifs"> Tarifs </button>
        <% end %>
      </div>
      <div class="g-col-12 g-col-md-6">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="offres"> Offres <br> & <br> Cadeaux </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12">
        <%= link_to presentation_path, class: 'link' do %>
          <button class="masseuse"> Qui Suis-Je ? </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12">
        <%= link_to precautions_path, class: 'link' do %>
          <button class="precautions"> Précautions & Contre-Indications Massage </button>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="g-col-12">
        <%= link_to mesotherapies_path, class: 'link' do %>
          <button class="ensemble"> Ensemble Contre La Covid </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
