<!DOCTYPE html>
<html>
  <head>
    <title>Voyages-des-sens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d2912cfd86.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body style="background-image: url('https://res.cloudinary.com/rikufonseca/image/upload/v1644407100/voyages-des-sens/backgroundpicture2_zztdnq.jpg'); background-size: cover;">

    <%= render "shared/navbar" %>
      <%= yield %>

  </body>
</html>
